# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
plugins/advanced-custom-fields/
plugins/akeebabackupwp/
plugins/contact-form-7-dynamic-text-extension/
plugins/contact-form-7/
plugins/cyr2lat/
plugins/duplicate-page/
plugins/duplicator/
plugins/popup-maker/
plugins/query-monitor/
plugins/wordpress-seo/
